{% extends "base.html.twig" %}

{% block title %}
    JOoooooj do piči
{% endblock %}

{% block body %}
    <h1 class="bg-amber-500 text-2xl text-center font-bold">WOHOHODHSOHOASHODHIOASHHD</h1>
    <img src="{{ asset('build/images/image.7b5aa05c.jpg') }}">
{% endblock %}